header {
	padding: 30px 0;
	background-color: #5A352A;
}

h1 {
	text-align: center;
	color: white;
}

html {
	color: #EED7C5;
	background-color: #EED7C5;
}

body {
	color: #EED7C5;
	background-color: #EED7C5;
}