body {
	text-align: left;
}

.img-responsive {
	display: block;
	margin: auto;
	width: 200px;
	height: 200px;
	background-repeat: no-repeat;
	border-radius: 50%;
}

.btn-lg {
	float: right;
}

h2 {
	margin: auto;
	font-size: 50px;
}

h3 {
	margin: auto;
}

.all-products {
	padding-top: 10px;
	padding-left: 15px;
}

.top-products {
	padding-top: 10px;
	padding-left: 15px;
}

.background {
	background-color: #EED7C5;
}

.text-justify-xs {
    text-align: center;
}

.seller-info {
	background-color: #A47963;
	padding: 50px 0px;
}

.inner-background {
	background-color: white;
}

.ngb-tabset {
	background-color: #EED7C5;
}

.card {
	margin-top: 15px;
	margin-left: 15px;
}

template {
	padding: 20px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #292b2c;
    border-color: #292b2c;
}

.btn-primary:hover {
	background-color: #001514;
    border-color: #001514;
}

ngb-alert {
	text-align: center;
	font-size: 40px;
	color: #292b2c;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-justify-sm {
        text-align: center;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-justify-md {
        text-align: center;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 1200px) {
    .text-justify-lg {
        text-align: left;
    }
}