<div class="container-fluid">
	<h2>
		Söluaðilar
	</h2>
</div>
<div class="container-fluid">
	<button type="button" class="btn btn-primary" (click)="addSeller()">Bæta við seljanda</button>
</div>
<div class="container-fluid" id="tableContainer">
	<table class="table table-hover">
		<thead class="thead-inverse">
			<tr>
				<th>Nafn</th>
				<th>Flokkur</th>
				<th></th>
			</tr>
		</thead>
		<tbody *ngFor="let s of sellers">
			<tr>
				<td href="" [routerLink]="['/seller', s.id]">{{s.name}}</td>
				<td href="" [routerLink]="['/seller', s.id]">{{s.category}}</td>
				<td><button (click)="editSeller(s)">Breyta seljanda</button></td>
			</tr>
		</tbody>
	</table>
</div>

<template ngbModalContainer></template>