.seller {
	float: left;
}

.add-seller {
	float: right;
}

tr {
	cursor: pointer;
}

button {
	margin-bottom: 10px;
	float: right;
}

#tableContainer {
	padding: 0 0;
}

.mini-header {
	padding-top: 30px;
	padding-bottom: 60px;
	background-color: #A47963;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #292b2c;
    border-color: #292b2c;
}

.btn-primary:hover {
	background-color: #001514;
    border-color: #001514;
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus {
    background-color: #939F5C;
    border-color: #939F5C;
	color: white;
}

.btn-secondary:hover {
	background-color: #939F5C;
    border-color: #939F5C;
}